{% extends "base.html" %}
{% block content %}
<section id='cuerpo'>
    <h2>Proveedores</h2>
    <br/>
    <table id="mytable" class='table2'>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Celular</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{proveedor.nombre}}</td>
                <td>{{proveedor.direccion}}</td>
                <td>{{proveedor.celular}}</td>
                <td>{{proveedor.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <a id='agregar_link' class='boton1' href='/control/proveedor/agregar/'>Nuevo Proveedor</a>
    <br/>
    <div style="clear: both;">&nbsp;</div>
</section>
{% if mensaje %}
<div id='mensaje_dialog' title='{{mensaje.titulo}}'>
{{mensaje.contenido}}
</div>
{% endif %}
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
{% endblock %}


{% block css %}
<link type="text/css" href="/static/css/custom-theme/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/styles_table.css" />
{% endblock %}
